<launch>
  	<!-- 不使用仿真时间 -->
	<param name="/use_sim_time" value="false" />

   	<!-- 启动arbotix driver-->
    <arg name="sim" default="true" />

  	<param name="robot_description" command="$(find xacro)/xacro $(find le_arm)/urdf/le_arm.xacro"/>

    <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
        <rosparam file="$(find le_arm)/config/arm.yaml" command="load" />
        <param name="sim" value="true"/>
    </node>


   	<node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller">
        <rosparam>
            model: singlesided
            invert: false
            center: 0.0
            pad_width: 0.004
            finger_length: 0.08
            min_opening: 0.0
            max_opening: 0.06
            joint: left_knuckle_joint
        </rosparam>
    </node>

 

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find le_arm)/urdf.rviz" />
</launch>
